*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px;

}

body{
    background: #fffffb;
    color: black;
}

.container{
    padding: 10px 10%;
}

.index-landing-page{
    display: flex;
}

.contact-landing-page{

}

.headshot{
    width: 400px;
    margin-left: 300px;
    margin-top: 100px;
    border-radius: 100px;
    border: 0vh;
    border-color: #2a7fff;
    border-style: solid;
}

/* Main */

#header{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: bold;
}

.logo-img{
    width: 70px;
    height: 70px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 40px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #0c0c0c;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px
}

.header-text h1{
    font-size: 60px;
    margin-top: 5px;
}


/* About */


/* Contact */

.email-logo{
    width: 40px;
    margin: 20px
}


.li-logo{
    width: 40px;
    margin: 20px
}

.gh-logo{
    width: 40px;
    margin: 20px;
}


.footer-text{
    text-align: center;
    font-size: x-small;
    font-weight: bold;
}

footer{
    margin: auto;
    padding: 10px;
}


.contact-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
