
footer{
    margin: 0;
    padding: 0;
    height: 90px;
    display: grid;
    justify-items: center;
    margin-top: auto;
    margin-bottom: 0px;
}

.contact-text{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #262322;
}

.links{
    display: grid;
    grid-template-columns: 25px 25px 25px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 22px;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.email-logo{
    padding: 0;
    margin: 0;
    height: 22px;
    width: 25px;
    padding-right: 20px;
}

.email-link,
.linkedin-link,
.github-link{
    height: 100%;
    width: 100%;

}

.linkedin-logo{
    padding: 0;
    margin: 0;
    height: 20px;
    width: 23.51px;
}

.github-logo{
    padding: 0;
    margin: 0;
    height: 22px;
    width: 22px;
}

@media(min-width: 450px){
    footer.active{
        margin-bottom: 10px;
        width: 40vw;
        display: grid;
        justify-items: center;
        margin-top: auto;
        margin-left: 1vw;
    }
}

@media(min-width: 580px){
    footer.active{
        width: 50vw;
        margin-left: 7vw;
    }
}

@media(min-width: 660px){
    footer.active{
        width: 50vw;
        margin-left: 10vw;
    }
}