
footer{
    margin: 0;
    padding: 0;
    height: 90px;
    display: grid;
    justify-items: center;
    margin-top: auto;
    margin-bottom: 0px;
}

.contact-text{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #262322;

}

.links{
    display: flex;
    margin: 0;
    padding: 0;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.email-logo{
    padding: 0;
    margin: 0;
    height: 22px;
    width: 25px;
    padding-right: 20px;
}

.linkedin-logo{
    padding: 0;
    margin: 0;
    height: 20px;
    width: 23.51px;
    padding-right: 20px;
    padding-left: 20px;
}

.github-logo{
    padding: 0;
    margin: 0;
    height: 22px;
    width: 22px;
    padding-left: 20px;
}

@media(min-width: 450px){
    .contact-text{
        margin-bottom: 10px;
    }

    .links{

    }

    .footer{
        background-color: red;
        height: 200px;
    }
}


