nav{
    margin-top: 20px;
    margin-left: 44px;
    margin-right: 44px;
    padding-bottom: 10px;
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
}

.home-link{
    text-decoration: none;
}

.home-name{
    background-color: none;
    margin-right: 20px;
}

.name-container{
    background-color: #F0DB4F;
    border-radius: 2px;
    width: 142px;
    margin-top: 10px;
    padding-top: 3px;
    padding-left: 2px;
    padding-bottom: 1px;
    transition: box-shadow 0.5s;
}

.name-container:hover{
    box-shadow: 20px 20px 1px #E3E7D3, 
    0px 20px 1px #E3E7D3,
    -10px 10px 1px #92B4A7;
}

.first-name,
.last-name{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D1321;
}


.title{
    font-size: 16px;
    color: #262322;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
    margin-top: 1px;
}

.desktop-menu{
    display: none;
}


@media(min-width: 834px){

    .nav-bar{
        align-items: start;
        display: flex;
        justify-content: space-between;
    }

    .ham-menu{
        display: none;
    }


    .desktop-menu{
        width: 25vw;

        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        height: 40px;
        margin-top: 4px;
    }


    .about-link,
    .resume-link,
    .projects-link{
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        color: #262322;
        transition: font-size 0.5s, color 0.3s;
    }

    .about-link:hover,
    .resume-link:hover,
    .projects-link:hover{
        font-size: 16px;
        font-weight: bolder;
        color: #659B5E;
    }


    .resume
    {
        padding: 0;
        margin-left: 3px;
    }

    .projects{
        margin-right: 0;
        padding: 0;
    }
}

@media(min-width: 450px){
    .header{
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

@media(min-width: 1023px){
    .header{
        width: 935px;
        margin-left: auto;
        margin-right: auto;
    }

    .desktop-menu{
        width: 255px;
    }
}