
.header{
    margin-top: 20px;
    margin-left: 44px;
    margin-right: 44px;
    padding-bottom: 10px;
    margin-bottom: auto;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
}

.home-name{
    background-color: none;
    margin-right: 20px;
}

.name-container{
    background-color: #F0DB4F;
    border-radius: 2px;
    width: 142px;
    margin-top: 10px;
    padding-top: 3px;
    padding-left: 2px;
    padding-bottom: 1px;
}

.first-name,
.last-name{
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D1321;
}

.title{
    font-size: 16px;
    color: #262322;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
    margin-top: 1px;
}

.hamburger-menu{
    background-color: none;
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: 12px;
    position: absolute;
    right: 45px;
}

.hamburger-icon{
    height: 58%;
    width: 58%;
}

.desktop-nav{
    display: none;
}


@media(min-width: 834px){

    .nav-bar{
        align-items: start;
        display: flex;
        justify-content: space-between;
    }

    .hamburger-menu{
        display: none;
    }

    .desktop-nav{
        display: grid;
        width: 25vw;
        margin: 0;
        padding: 0;
        margin-top: 14px;
    }

    .desktop-page-links{
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }


    .resume-link
    {
        padding: 0;
        margin-left: 3px;
    }

    .projects-link{
        margin-right: 0;
        padding: 0;
    }

}


@media(min-width: 450px){
    .header{
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

@media(min-width: 1023px){
    .header{
        width: 935px;
        margin-left: auto;
        margin-right: auto;
    }

    .desktop-nav{
        width: 255px;
    }




}










