.main-photo{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;
}


.julian-stefanzick-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headshot{
    height: 165px;
    width: 165px;
    border-radius: 3px;
    z-index: 2;
    position: absolute;
}

/*

.photo-background{
    position: absolute;
    background-color: #92B4A7;
    height: 165px;
    width: 165px;
    z-index: 1;
    bottom: 0;
    margin-left: 22px;
    margin-bottom: 10px;
    border-radius: 3px;
}

*/

.main-spacer{
    height: 0px;
    background-color: blue;
}

.main-about{
    background-color: #E3E7D3;
    position: relative;
    border-radius: 5px;
    display: block;
    margin-top: auto;
}

.mini-about-container{
    width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.66em;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #262322;
}

.mini-about-title{
    margin-top: 8px;
    margin-bottom: 0px;
}

.mini-about-location{
    margin-top: 0px;
    margin-bottom: 9px;
}

.mini-about-degree{
    margin-top: 0px;
    margin-bottom: 0px;
}

.mini-about-school{
    margin-top: 0px;
    margin-bottom: 9px;
}

.mini-about-previously{
    margin-top: 0px;
    margin-bottom: 0px;
}

@media(min-width: 320px){
    .headshot, .photo-background{
        height: 60vw;
        width: 60vw;
    }
}


@media(min-width: 450px){

   .headshot, .photo-background{
        height: 50vw;
        width: 50vw;
    }


    .mini-about-container{
        width: 276px;
        font-size: 16px;
    }
}


@media(min-width: 550px){

    .headshot, .photo-background{
         height: 275px;
         width: 275px;
     }
 }

 @media(min-width: 834px){

 }

 @media(min-width: 1069px){

 }




 /* Min Height 

 @media(min-height: 450px){
    .headshot, .photo-background{
        height: 30vh;
        width: 30vh;
    }
 }

 @media(max-height: 450px){
    .headshot, .photo-background{
        height: 100px;
        width: 100px;
    }
 }

 */
