.content{
    display: flex;
    flex-direction: column;
}

/* Photo Section */


.main-photo{
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 20px;
}



.headshot{
    height: 165px;
    width: 165px;
    border-radius: 3px;
}

.headshot .ham-menu.active{
    width: 400px;
}


/* About Section */ 

.main-about{

    border-radius: 5px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;

    width: 216px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.66em;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #262322;
}


.mini-about-title{
    margin-top: 8px;
    margin-bottom: 1%;
}

.mini-about-location{
    margin-top: 30px;
    margin-bottom: 12px;
}

.mini-about-degree{
    margin-top: 0px;
    margin-bottom: 1px;
}

.mini-about-school{
    margin-top: 0px;
    margin-bottom: 12px;
}

.mini-about-previously{
    margin-top: 0px;
    margin-bottom: 0px;
}



/* Media */

@media(max-width: 319px){
    .main-photo{
        display: none;
    }
}

@media(max-height: 449px){
    .main-photo{
        display: none;
    }
}


@media(min-width: 320px){
    .headshot{
        height: 40vw;
        width: 40vw;
        border-radius: 20vw;
        margin-bottom: 20px;
        margin-top: 0;
    }

}

@media(min-height: 630px){
    .main-about{
        font-size: 15px;
    }
}


@media(max-width: 424px){
    .main-about{
        width: 50vw;
    }
}


@media(max-width: 449px){

    .main-photo{
        margin-top: 0;
        margin-bottom: 5px;
    }

    .main-about{
        margin-top: 0;
    }
}

@media(min-width: 450px){

   .headshot, .photo-background{
        height: 50vw;
        width: 50vw;
        border-radius: 25vw;
    }

    .main-about{
        width: 50vw;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .content{
        margin-bottom: 20px;
        margin-top: auto;
    }

    .mini-about-title,
    .mini-about-degree{
        margin-bottom: 1px;
    }
    
    .mini-about-location,
    .mini-about-school{
        margin-bottom: 20px;
    }
    
    .comma{
        display: none;
    }

}


@media(min-width: 550px){

    .headshot, .photo-background{
         height: 275px;
         width: 275px;
     }

     .main-about{
        width: 276px;
        font-size: 16px;
    }

    .new-line-break{
        display: none;
    }

    .comma{
        display:inline;
    }
 }

 @media(max-width: 833px){
    .mini-about-location{
        margin-top: 0px;
    }
 }

 @media(min-width: 834px){
    .content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .main-photo{
        width: 275px;
        height: auto;
        display: grid;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .main-about{
        position: relative;
        border-radius: 5px;
        display: block;
        margin-left: 0;
        margin-top: 80px;
        margin-bottom: 30px;
        margin-right: 25px;
    }
 }




