.projects-content{
  display: flex;
  justify-content: center;
  align-content: center;
  height: auto;
  width: auto;
  margin-top: 20vh;
}

@media(max-width: 449px){
  .projects-content{
    margin-top: 0;
  }
}

@media(min-width: 450px) {

  .projects-content.active h1{
    margin-right: 260px;
    font-size: 27px;
  }
}

@media(max-height: 500px){
  .projects-content{
  }
}

@media(min-width: 580px){
  .projects-content.active{
  }
}

@media(max-width: 579px) and (min-width: 450px){
  .projects-content.active{
  }
}

@media(min-width: 660px){
  .projects-content.active{
  }
}

